@media (max-width: 1220px) {
  .advantages__text {
    padding-left: 20px; }
  .desing__images img {
    width: 100%; } }

@media (max-width: 1020px) {
  .desing {
    margin-bottom: 50px; }
  .desing-row {
    display: block; }
  .desing-row__item {
    max-width: 100%;
    margin-bottom: 30px; }
  .desing-row__item-text {
    max-width: 100%; } }

@media (max-width: 930px) {
  .advantages-inner__row {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px; }
  .advantages__title {
    position: static; }
  .advantages-descr {
    text-align: center; }
  .advantages__text {
    margin: 25px auto;
    padding-left: 0; }
  .advantages-inner__row--mobile .advantages-descr {
    order: -1;
    display: flex;
    flex-direction: column-reverse; } }

@media (max-width: 823px) {
  .menu__list a {
    font-size: 30px;
    line-height: 20px;
    padding: 25px 20px 14px 0; }
  .slick-dots {
    visibility: hidden; }
  .button-wrapper {
    text-align: center; }
  .header-content__title {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
    text-align: center; }
  .header-content__text {
    font-size: 15px;
    line-height: 18px;
    margin: 0 auto 5px;
    text-align: center; }
  .statistics-items {
    flex-wrap: wrap; }
  .statistics-item {
    padding: 50px; }
  .statistics {
    margin: 70px 0 50px; }
  .button {
    padding: 20px 45px; }
  .video {
    margin-bottom: 50px; } }

@media (max-width: 650px) {
  .advantages__img img {
    width: 100%; }
  .header-content__title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 10px; } }

@media (max-width: 440px) {
  .header-content__title {
    font-size: 80px;
    margin-top: 20px;
    line-height: 90px; } }

@media (max-width: 410px) {
  .logo img {
    width: 200px; }
  .header-content__title {
    font-size: 70px;
    margin-top: 20px;
    line-height: 85px; }
  .menu__list a {
    font-size: 30px;
    line-height: 44px;
    display: block;
    padding: 19px 10px 7px 0;
    min-width: 100%; }
  .menu__list ul {
    width: 100%; }
  .slider .slick-dots {
    margin: -45px auto 0; }
  body {
    font-size: 20px;
    line-height: 24px; }
  .advantages__text {
    width: 100%; }
  .desing-row__item-text {
    padding: 25px 0 0; } }
